name: Simple CI Pipeline

on:
  push:
    branches: ["main"]

jobs:
  hello-world:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run a simple command
        run: echo "CI pipeline is working from VS Code!"
